.il{color:#099}*{margin:0;padding:0;box-sizing:border-box}html{background:#fff}::selection{background:#D4D4D4}::-moz-selection{background:#D4D4D4}body{color:#383838;font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;font-size:1.25em;word-wrap:break-word}h1,h2,h3,h4,h5,h6{font-family:"Source Sans Pro",Helvetica,Arial,sans-serif;line-height:1.3;margin:0.67em 0}h1 a,h2 a,h3 a,h4 a,h5 a,h6 a{color:#383838}h1{font-size:2.5em}h2{font-size:2em}h3{font-size:1.5em}h4{font-size:1.15em}blockquote{border-left:2px solid;padding:1em 1em}blockquote p:last-child,footer p:last-child{margin-bottom:0}table{table-layout:fixed;width:100%;word-wrap:break-word}@media (max-width: 1100px){table{overflow-x:scroll;display:inline-block}}td,th{padding:0.5em 1em;border:1px solid rgba(0,0,0,0.1);text-align:left}table,dl,blockquote,code,kbd,pre,samp{margin:1em 0}dt{font-weight:bold}dd{margin-left:2em}p,ol,ul,dl,.math-display{line-height:1.5;margin-bottom:1em}
.math-display{display:inline-block;width:100%}ol,ul{list-style-position:inside}hr{border:0;border-top:1px solid rgba(0,0,0,0.1);border-bottom:1px solid #fff;margin:1em 0}a{color:#1ABC9C;text-decoration:none}
.nav{list-style:none;margin:0;padding:0}iframe,img,embed,object,video{max-width:100%}img[align=left]{margin-right:3%}img[align=right]{margin-left:3%}
.site-header{padding:3% 6%}@media (max-width: 1000px){.site-header{padding:3% 3%}}article,.comments,.feature-image .post-content,.call-out,.posts .post-teaser,.site-footer{padding:5% 20%}@media (max-width: 1000px){article,.comments,.feature-image .post-content,.call-out,.posts .post-teaser,.site-footer{padding:7.5% 12.5%}}article a:hover,.posts .post-teaser p a:hover{text-decoration:underline;color:#117964}
.button{border-radius:0.3em;border:1px solid;display:inline-block;margin:1em 0;padding:0.5em 0.75em}a.button:hover{background:#1ABC9C;border:1px solid #1ABC9C;color:#fff;text-decoration:none}
.disabled{opacity:0.7}article,.comments{border-bottom:1px solid rgba(0,0,0,0.1);float:left;width:100%}article header{margin-bottom:6%;text-align:center}article .footnotes{font-size:0.9em}header h1{margin:0}header .meta{color:rgba(56,56,56,0.5);font-size:0.9em;letter-spacing:0.1em;margin:0;text-transform:uppercase}
.feature-image{padding:0%}
.feature-image .post-link{color:#fff}
.feature-image header{color:#fff;background-size:cover;margin-bottom:0;padding:8% 20%}
.feature-image header .meta{color:rgba(255,255,255,0.7)}
.call-out{display:inline-block;width:100%;background-color:#F98752;background-size:cover;font-size:1.2em;text-align:center;color:#FFF}
.call-out p:last-child{margin-bottom:0}
.posts .post-teaser{width:100%;margin-bottom:0;display:inline-block;background-size:cover;border-bottom:1px solid rgba(0,0,0,0.1)}
.posts .excerpt{margin-top:1em}
.pagination .button{margin:0 1.5em}
.pagination .button i{vertical-align:middle}
.pagination{padding:5% 20% 0 20%;text-align:center}
.site-header{background:#fff;border-bottom:1px solid rgba(0,0,0,0.1);display:inline-block;float:left;width:100%}
.site-header a{color:#383838}
.site-header .avatar{height:2em;width:2em;float:left;margin-top:-3px;border-radius:0.2em;margin-right:1em}
.site-header .site-title{float:left;font-weight:bold;font-size:1em;line-height:1.5}
.site-header .site-nav ul{margin:0;padding:0;list-style:none;line-height:1.5;float:right;text-align:right}
.site-header .site-nav li{display:inline;float:left;margin-right:0.4em}@media (max-width: 1100px){.site-header .site-nav ul{display:inline-block;float:left;padding-top:5%;text-align:left;width:100%}}
.site-footer{display:inline-block;text-align:center;width:100%;color:#858585;font-size:0.9em}

/* CUSTOM CSS */

/* see #6 */
.highlighttable td,th{padding:0;border:0;}td.code{width:95%;}
/* needed for chroma-based highlight */
div.highlight > pre {padding: 10px;font-size: 0.8em;}

p code,
li code {
	/* colors derived from dracula */
	background-color: rgba(27,31,35,0.05);
	color: #24292e;
	padding: 0 5px;
}