{{ define "main" -}}
	{{ if and (isset .Params "featureimage") (not (eq .Params.featureimage "")) -}}
	<article class="feature-image">
		<header style="background-image: url('{{ .Params.featureimage | absURL }}')">
			<h1 class="title">{{ .Title }}</h1>
		</header>
	{{- else -}}
	<article>
		<header>
			<h1 class="title">{{ .Title }}</h1>
			{{ partial "post-meta" . }}
		</header>
	{{- end }}

		<section class="post-content">
			{{ .Content }}
			<h3>Feedback</h3>
			<p>Feel free to reach out via:</p>
			<ul>
			{{ with .Site.Params.social.twitter -}}
			<li>
				<a href="https://twitter.com/{{ $.Site.Params.social.twitter }}" rel="me" title="{{ $.Site.Data.l10n.twitter }}">
					@ me on Twitter
				</a>
			</li>
			{{- end }}
			{{ with .Site.Params.social.email -}}
			<li>
				<a href="mailto:{{ $.Site.Params.social.email }}" title="{{ $.Site.Data.l10n.email }}">
					Send me an Email
				</a>
			</li>
			{{- end }}
			</ul>
			<hr>
			{{ partial "related" . }}
		</section>
	</article>
{{- end }}